.input-field label {
    color: #000 !important;
}
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
.checkbox-field span {
    color :#000;
} 
.checkbox-field {
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-large {
    margin-top: 20px;
}
.input-field {
    margin-top: 25px;
    margin-left: 45px;
}
.browser-default {
    background-color: #ede7f6;
    border: 0px !important;
}
.browser-default:focus {
    outline: none !important;
}
.checkbox-purple[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #7e57c2;
    background-color: #7e57c2;
}